<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.kotakestudio.googleplaygamesservices">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GooglePlayGamesServices"
            android:value="jp.co.kotakestudio.googleplaygamesservices.PlayGameServicesGodot" />
    </application>
</manifest>